@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

.home {
  position: relative;
  width: 100%;
  height: 100%;
}

.home_mars {
  position: absolute;
  z-index: 5;
  width: 120%;
  transform: scaleX(1.25) translateY(12.5vh) translateX(-1vw);
}

.home_mars_vid {
  position: absolute;
  z-index: 5;
  width: 100%;
  transform: scaleX(1.4) translateY(12.5vh) translateX(-1vw);
}

.home_logo {
  z-index: 9;
  position: absolute;
  top: 27.5%;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
}

.home_astro {
  position: absolute;
  left: 50vw;
  bottom: -3%;
  z-index: 10;
  display: block;
  transform: translateX(-50%);
  width: auto;
  height: 80vh;
  object-fit: cover;
}

.button_position {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  gap: 5vw;
}

.discord-button {
  background-color: #27333f;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 32px;
  height: 44px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  transition: all .1s ease-in 0s;
  white-space: nowrap;
  width: 312px;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .button_position {
    justify-content: space-evenly;
    gap: 2.5vw;
    bottom: 10vh;
  }
}

@media (max-width: 768px) {
  .home_logo {
    display: none;
  }
  .home_mars {
    transform: scaleY(1.25) translateY(10vh) translateX(0);
  }
  .home_mars_vid{
    bottom: 0;
    transform: scaleX(2) scaleY(2) translateY(-17.5vh) translateX(0);
    filter: brightness(2.5);
  }
  .home_astro {
    bottom: 5vh;
    transform: translateX(-50%);
    height: 75vh;
  }
}

@media (max-width: 600px) {
  .button_position {
    display: flex;
    justify-content: center;
    bottom: 17.5vh;
    width: 100%;
    gap: 7vw;
    flex-direction: column;
  }

  .discord-button {
    width: 312px;
  }
}
